<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h3><% if Usersetting.where(user_id: [current_user.id]).last.nil? %> </h3>
  <h4><%= link_to "Please click here to enter your initial setting.", new_walker_usersetting_path %> </h4>
  <% else %>

    <h1>Your Current Setting</h1>
    <h4>Step Length: <%= @current_user_stride %></h4>
    <h4>Step Length Unit: 
      <% if @current_user_strideunit == 1 %>
        inches
      <% else %>
        cm
      <% end %>
    </h4>
    <h4>Distance Unit:
      <% if @current_user_distanceunit == 1 %>
        miles
      <% else %>
        km
      <% end %>
    </h4>

    <br /><br />
    <%= link_to 'Edit', edit_walker_usersetting_path(current_user), :class => 'btn btn-primary' %>
  <% end %>
</div>