<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h2>This is show page </h2>
  <p><%= @usersetting.userstride %> Unit is : <%=@usersetting.strideunit%></p>
  <p>Distance Unit is: <%= @usersetting.distanceunit %></p>

  <br/><br/>