<header>
  <div class="title">
    <h1>Let's Walk Route 66</h1>
    <h3> (Virtually...)</h3><br />
    <small>Scroll for more</small>
  </div>
</header>

<main>
	<div class= "more_info booyah-box">
		<h1>Information About <em>Route 66 Virtual Walk</em></h1>
	</div>
	<div class="clear"></div>
	<div class="row">
	  <div class="info col-md-4 col-xs-12">
	  		<h2>About the Site</h2>
	  		<%= image_tag "/assets/route-66-3.jpg", :class =>"img-responsive", id: 'image_id', id: 'smaller_image_id'%>
			  <p>Route 66 Virtual Walk is a website to motivate users to walk more by setting a goal for taking the same distance as Route 66 in United States.  The site will keep track daily steps and distance, and display a map showing how far you have walked.  Using this site, we hope our users will not only be exciting about walking but also be interested in learning about Route 66, and decide to take road trip and actually drive portion of Route 66 someday.</p>
		</div>
		<div class="info col-md-4 col-xs-12">
	  		<h2>How to Use</h2>
			  <p>Using Route 66 Virtual Walk program is very easy!  Sign up by creating your username and password, and enter your stride length either in centimeter or in inches.  All you have to do is to enter daily steps which can be measured by using your pedometer or your smart phone.  The site will automatically calculate the distance you have travelled along with a pin in the map showing how far you have walked.</p>
			  <%= image_tag "/assets/route-66-4.jpg", :class =>"img-responsive", id: 'image_id', id: 'smaller_image_id' %>
		</div>
		<div class="info col-md-4 col-xs-12">
	  		<h2>About Route 66</h2>
	  		<%= image_tag "/assets/route-66-5.jpg", :class =>"img-responsive", id: 'image_id', id: 'smaller_image_id' %>
			  <p>Commonly known as "Main Street of America", Route 66 was one of the the first transcontinental highways in U.S.  The highway originally ran from Chicago to Los Angeles, covering a total of 2,448 miles (3,940 km).  Route 66 underwent many changes and was officially removed from the US highway system in 1985.  A great deal of Route 66 remains paved and drivable, and is still enjoyed by many.</p>

		</div>
	</div>
</main>





