<div class="booyah-box col-xs-10 col-xs-offset-1">
<%= link_to 'Enter Daily Steps', new_walk_path, :class => 'btn btn-primary' %>
	<% @walks.reverse_each do |walk| %>
	  <div>
	    <h3 class="text-center">Date: <%= walk.date %>: Step:<%= walk.step %></h3>
	  </div>

	<% end %>
</div>