<header>
  <div class="title">
    <h1>Let's Walk Route 66</h1>
    <h3> (Virtually...)</h3><br />
    <small>Scroll for more</small>
  </div>
</header>

<main>
	<div class="row">
	  <div class="col-md-4">
	  		<h2>Information about Route 66 Virtual Walk</h2>
			  <p>Lore ipsum dolor sit amet, consectetur adipisicing elit. Culpa facilis, labore debitis nesciunt ipsam odio corporis architecto reiciendis voluptas ab quibusdam ratione rerum tempore voluptatibus libero cumque dignissimos vero hic!</p>
		</div>
		<div class="col-md-4">
	  		<h2>Information about Route 66 Virtual Walk</h2>
			  <p>Lore ipsum dolor sit amet, consectetur adipisicing elit. Culpa facilis, labore debitis nesciunt ipsam odio corporis architecto reiciendis voluptas ab quibusdam ratione rerum tempore voluptatibus libero cumque dignissimos vero hic!</p>
		</div>
		<div class="col-md-4">
	  		<h2>Information about Route 66 Virtual Walk</h2>
			  <p>Lore ipsum dolor sit amet, consectetur adipisicing elit. Culpa facilis, labore debitis nesciunt ipsam odio corporis architecto reiciendis voluptas ab quibusdam ratione rerum tempore voluptatibus libero cumque dignissimos vero hic!</p>
		</div>
	</div>
</main>




