<!--hr />
<div class="container">
  <div class="col-xs-6">
  </div>
  <div class="col-xs-6">
    <em>Created by <a href="https://github.com/hkawanishi" target="_blank">Hiromi</a></em><br/>
    Want to build your own Web App just like this site?- <a href="http://thefirehoseproject.com" target="_blank">Learn how to code here</a>
    <br /><br />
  </div>
</div-->