
<div class="container">
  <div class="col-xs-8">
  </div>
  <div class="col-xs-4">
    <em>Proudly created by Hiromi</em><br/><br />
    Want to build your own Web App?- <a href="http://thefirehoseproject.com">Learn how to code here</a>
    <br /><br />
  </div>
</div>